Package: com.m1337.screendump15
Name: screendump
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: VNC for ios
Maintainer: m1337 <morpheus@1337.pro>
Author: m1337 <morpheus@1337.pro>
Section: Tweaks
Version: 0.0.5